/* .total{
     align-items: center; 
    text-align: center;
    padding-right: 430px;

}
.picture{
     align-items: center; 
  
} */
/* .content{
    align-items: flex-start;
     text-align: center; 
    padding-right: 430px;
    

} */
.content p{
    
    text-align: left;

    

} 